<div class = "jumbotron pull-left box-left" >
	<h3>Welcome,<em><%= @article.Topic %></em></h3>

	<p>
		<strong>Name</strong>
		<%= @article.Topic %>

	</p>

	<p>
		<strong>Email</strong>
		<%= @article.Description %>

	</p>

</div>

