<% if current_user %>
<div class = "jumbotron pull-left box-left" >
	<h3>Welcome,<em><%= @doctor.name %></em></h3>

	<p>
		<strong>Name</strong>
		<%= @doctor.name %>

	</p>

	<p>
		<strong>Email</strong>
		<%= @doctor.email %>

	</p>

	<p>
		<strong>Year Of Passing</strong>
		<%= @doctor.years_of_exp %>

	</p>
</div>

<% end %>