
<h1>Listing Posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @posts.reverse.each do |post| %>
      <div class ="jumbotron box-left color-background">

          <%= post.Description %>
          <div class = "pull right">
             <%= post.created_at%>
          </div>
      </div>
  <% end %>
</table>