
<h1>Listing Posts</h1>
 

 
  <% @posts.reverse.each do |post| %>
      <div class ="jumbotron box-left color-background well">
          
          <%= post.Description %>
          <%= post.doctor_id %>
          <div class ="pull-right">
             <%= post.created_at%>
          </div>
      </div>
  <% end %>
</table>