<div class = "jumbotron pull-left box-left" >


	<p>
	    <%= image_tag(@post.avatar.url(:medium))%>
	    <div class = "top">
		    <h3><em><%= @post.Description %></em></h3>
        </div>
	</p>

</div>

